:root {
  --primary-color: #2F303A;
  --light-color: #F5F4FA;
  --dark-color: #212121;
  --white-color: #FFFFFF;
  --sky: #2196f3;
  --grey: #757575;
}

body {
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("../fonts/Roboto-Black.ttf");
}
